html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
}

/* Style for nav links */
.nav-link {
    font-size: 1rem;
    font-weight: bold;
    color: white !important;
    text-align: center;
}
.navbar-brand{
    margin-left: 75px;
}

.navbar-brand img {
    width: 80px;
    height: 80px;
}
.brand-text {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
    margin-top: -25px;
}

/* Style for buttons */
.btn-success {
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    margin-right: 80px;

}

.navbar-brand {
    margin-right: 110px; /* Adjust the value as needed */
}

/* Default spacing for nav-items */
.navbar-nav .nav-item {
    margin: 0 30px; /* Adjust the value for more/less space between navbar items */
}

/* Adjust nav-item spacing for smaller screens */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
    
    }

    .navbar-nav .nav-item {
        margin: 10px 0; /* Vertical margin for small screens */
    }

    .btn-success {
        width: 100%; /* Full-width button for smaller screens */
        margin: 10px auto;
        height: auto;
    }
    .navbar-brand img {
        margin-left: -70px; /* Remove any margin from the left */
        
    }
    .navbar-brand img {
        width: 150px;
        
    }
}

