html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
}

/* Style for nav links */
.nav-link {
    font-size: 1rem;
    font-weight: bold;
    color: white !important;
    text-align: center;
}

/* Center logo and brand text */
.navbar-brand img {
    display: block;
    margin: 0 auto;
}

.brand-text {
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
    margin-top: -25px;
}

/* Style for buttons */
.btn-success {
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
}

.navbar-brand {
    margin-right: 90px; /* Adjust the value as needed */
}

/* Default spacing for nav-items */
.navbar-nav .nav-item {
    margin: 0 30px; /* Adjust the value for more/less space between navbar items */
}

/* Adjust nav-item spacing for smaller screens */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0; /* Vertical margin for small screens */
    }

    .btn-success {
        width: 100%; /* Full-width button for smaller screens */
        margin: 10px auto;
        height: auto;
    }
}